.clearfix::after {
    clear: both;
    display: block;
    content: '';
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.has-underline {
    text-decoration: underline;
}

.has-bold {
    font-weight: bold;
}

.has-text,
.has-text:hover {
    background-color: transparent;
    border-color: transparent;
}

.has-margin-right {
    margin-right: 5px;
}

.min-icon-close {
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: inherit;
    box-sizing: border-box;
    padding: 2px 0px 2px 2px;
    /* line-height: 16px; */
    display: inline-block;
    vertical-align: middle;
}

.min-icon-close:hover {
    background: red;
    color: #fff;
}