.min-gotop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    min-width: 40px;
    min-height: 40px;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.75rem 0.25rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007aff;
    cursor: pointer;
    font-size: 20px;
    z-index: 11;


    &-default {
        border-radius: 50%;
        padding: 3px;
        color: #007aff;
    }

    &:hover {
        background-color: #f2f2f2;
    }
}