.min-loading-parent {
    position: relative !important;
    overflow: hidden;
}


.min-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2001;
    background-color: rgba(0, 0, 0, .6);
    // background-color: rgba(255, 255, 255, .8);
    margin: 0;
    transition: opacity .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.min-loading-mask.is-loading-fullscreen {
    position: fixed;

}

.min-loading-icon {
    text-align: center;

    i {
        font-size: 40px;
    }

    .spinner {
        height: 50px;
        width: 50px;
        animation: loading-rotate 2s ease-in-out infinite;
    }

    .path {
        animation: loading-dash 1.5s ease-in-out infinite;
        stroke-dasharray: 90, 150;
        stroke-dashoffset: 0;
        stroke-width: 2;
        // stroke: #fff;
        stroke-linecap: round;
    }
}



@keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px;
    }
}