.min-toast {
    min-width: 300px;
    border-radius: 5px;
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    // align-items: center;
    color: #212529;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
    background-color: #fff;
    position: relative;
    // padding-right: 30px;
    z-index: 2000;

    &-title {
        width: 100%;
        border-bottom: 1px solid #bdbbbb;
        margin-bottom: 5px;
        text-align: center;
        padding: 0 20px 5px 5px;
    }

    &-content {
        padding: 5px 20px 5px 5px;
    }

    &-white {
        color: #212529;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .1);
    }

    &-primary {
        color: #007aff;
        background-color: #cce5ff;
        border-color: #b8daff;
    }

    &-success {
        color: #1aaf33;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    &-warning {
        color: #ff9500;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }

    &-error {
        color: #ff3b30;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    &-fail {
        background-color: #ddd;
        color: #666;
        border-color: #ddd;
    }

    &-info {
        color: #17a2b8;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }

    &-title-close {
        position: absolute;
        font-size: 16px;
        top: 5px;
        right: 0;
    }

    &-close {
        position: absolute;
        font-size: 16px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &.position-top {
        position: fixed;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
    }

    &.position-bottom {
        position: fixed;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
    }

    &.position-left {
        position: fixed;
        left: 20px;
        top: 20px;
        // transform: translateX(-50%);
    }

    &.position-right {
        position: fixed;
        right: 20px;
        top: 20px;
        // transform: translateX(-50%);
    }

    &.position-center {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }


}

// .min-toast.is-top {
//     position: fixed;
//     left: 50%;
//     top: 20px;
//     transform: translateX(-50%);
// }
// .min-toast.is-top {
//     position: fixed;
//     left: 50%;
//     top: 20px;
//     transform: translateX(-50%);
// }

.is-center {
    display: flex;
    align-items: center;
    justify-content: center;
}